<launch>
  <arg name="namespace" default="operator"/>
  <arg name="robotNamespace" default="echo"/>
  <arg name="enableBridge" default="true"/>
  

  <include file="$(find project11)/launch/operator_core.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="robotNamespace" value="$(arg robotNamespace)"/>
    <arg name="enableBridge" value="$(arg enableBridge)"/>
  </include>

  <rosparam command="load" file="$(find echoboat_project11)/config/echo_operator.yaml" ns="$(arg namespace)"/>

</launch>



